#wrap {
    width: 500px;
    height: 900px;
    background-color: #d9d9d9;
    text-align: center;
    position: relative;
    left: 150%; top: 150%;
    padding: 30px;
}
#wrap img {
    width: 100%;
}
#wrap h1 {
    font-size: 1rem;
    font-weight: 700;
}
#wrap main nav span{
    color: #000;
    margin-left: 15px;
}